body, html {
    height: 100%;
    margin: 0;
  }

html{
    background: url("../img/AdobeStock_339872222.webp") no-repeat center center fixed;
  height: 100%; 

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
    /* width: 100%; */
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
      
}
.flex-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* min-height: fit-content */
    align-items: stretch;
    /* max-width: 100%; */
}
.fc-01{
    margin-top: 20%;
}
.fc-01:after{
    font-family: Fira Sans;
    display: flex;
    color: aliceblue;
    content: "Neant.be";
    font-size: 6em;
}
